[gcode_macro HOME_BEFORE_LOAD_FILAMENT]
variable_x_cur:0
variable_y_cur:0
variable_z_cur:0
gcode:
    {% if printer.toolhead.homed_axes == "xyz" %}
        SET_GCODE_VARIABLE MACRO=HOME_BEFORE_LOAD_FILAMENT VARIABLE=x_cur VALUE={printer.gcode_move.gcode_position.x}
        SET_GCODE_VARIABLE MACRO=HOME_BEFORE_LOAD_FILAMENT VARIABLE=y_cur VALUE={printer.gcode_move.gcode_position.y}
        SET_GCODE_VARIABLE MACRO=HOME_BEFORE_LOAD_FILAMENT VARIABLE=z_cur VALUE={printer.gcode_move.gcode_position.z}
        G91
        G1 Z{printer["gcode_macro VAR_pfc"].z_up_home} F500
        G90
        G1 X{printer["gcode_macro VAR_pfc"].x_home} Y{printer["gcode_macro VAR_pfc"].y_home} F5000
    {% endif %}

[gcode_macro RETURN_AFTER_LOAD_FILAMENT]
variable_x_cur:0
variable_y_cur:0
variable_z_cur:0
gcode:
    {% if printer.toolhead.homed_axes == "xyz" %}
        G1 X{printer["gcode_macro HOME_BEFORE_LOAD_FILAMENT"].x_cur} Y{printer["gcode_macro HOME_BEFORE_LOAD_FILAMENT"].y_cur} Z{printer["gcode_macro HOME_BEFORE_LOAD_FILAMENT"].z_cur}  F10000
    {% endif %}

[gcode_macro SET_CURRENT_HIGH]
gcode:
  {%if printer["gcode_macro SELECT_TOOL"].tool_selected|int != -1 %}
    SET_TMC_CURRENT STEPPER=filament{printer["gcode_macro SELECT_TOOL"].tool_selected|int}_e CURRENT=1.2
  {% endif %}

[gcode_macro SET_CURRENT_MEDIUM]
gcode:
  {%if printer["gcode_macro SELECT_TOOL"].tool_selected|int != -1 %}
    SET_TMC_CURRENT STEPPER=filament{printer["gcode_macro SELECT_TOOL"].tool_selected|int}_e CURRENT=0.8
  {% endif %}

[gcode_macro SET_CURRENT_LOW]
gcode:
  {%if printer["gcode_macro SELECT_TOOL"].tool_selected|int != -1 %}
    SET_TMC_CURRENT STEPPER=filament{printer["gcode_macro SELECT_TOOL"].tool_selected|int}_e CURRENT=0.4
  {% endif %}
  
[gcode_macro LT]
gcode:
    HEAT_EXTRUDER_BEFORE_EXTRUDE
    #M118 LT {params.VALUE|int} ...
    SELECT_TOOL VALUE={params.VALUE|int}
    {% if printer["gcode_macro SELECT_TOOL"].tool_selected|int != -1 %}
      LOAD_FILAMENT_TO_EXTRUDER
      LOAD_FILAMENT_IN_EXTRUDER
      #SET_FILAMENT_SENSOR SENSOR=filament_motion_sensor ENABLE=1
    {% endif %}
    SET_CURRENT_LOW

[gcode_macro UT]
gcode:
    HEAT_EXTRUDER_BEFORE_EXTRUDE
    {% if printer["gcode_macro SELECT_TOOL"].tool_selected|int != -1 %}
        #SET_FILAMENT_SENSOR SENSOR=filament_motion_sensor ENABLE=0
        #M118 UT {printer["gcode_macro SELECT_TOOL"].tool_selected|int} ...
        UNLOAD_FILAMENT_IN_EXTRUDER
        UNLOAD_FILAMENT_FROM_EXTRUDER
    {% endif %}

[gcode_macro UNLOAD_FILAMENT_IN_EXTRUDER]
gcode:
    SET_GCODE_VARIABLE MACRO=VAR_pfc VARIABLE=status VALUE='"Unoading filament in extruder"'
	M83
	{% if False %}
      M400
      {% set temperature = printer.extruder.target %}
      M109 S{temperature - 15}
      M400
      SET_CURRENT_HIGH
      G1 E-30 F6000
      G4 P15000
    {% else %}  
      M400
      {% set temperature = printer.extruder.target %}
      {% set temperature_low = temperature - 30 %}
      {% if temperature_low < 175.0 %}
        {% set temperature_low = 175.0 %}
      {% endif %}
      M104 S{temperature_low}      
      G4 P15000
      M400
      SET_CURRENT_HIGH
      G1 E-30 F6000
      G4 P15000
    {% endif %}
	G1 E-60 F1000
	M104 S{temperature}
    M400
    SET_CURRENT_MEDIUM
	G92 E0

[gcode_macro UNLOAD_FILAMENT_FROM_EXTRUDER]
gcode:
    SET_GCODE_VARIABLE MACRO=VAR_pfc VARIABLE=status VALUE='"Unoading filament from extruder"'
	M400
	M83
    SET_CURRENT_HIGH
    {% set len=printer["gcode_macro VAR_pfc"].bowden_length %}
    {% for i in range((len/450)|int) %}
        G1 E-450 F4000
    {% endfor %}
    G1 E-{len % 450} F4000
	SET_CURRENT_MEDIUM
    M400


[gcode_macro LOAD_FILAMENT_TO_EXTRUDER]
gcode:
    SET_GCODE_VARIABLE MACRO=VAR_pfc VARIABLE=status VALUE='"Loading filament to extruder"'
	M400
	M83
	SET_CURRENT_HIGH
    {% set len=printer["gcode_macro VAR_pfc"].bowden_length %}
    {% for i in range((len/450)|int) %}
        G1 E450 F4000
    {% endfor %}
    G1 E{len % 450} F4000
	SET_CURRENT_MEDIUM
	#SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=extruder
    #G1 E35 F1000
	M400
	
	#SET_FILAMENT_SENSOR SENSOR=filamentmotionsensor ENABLE=1

[gcode_macro LOAD_FILAMENT_IN_EXTRUDER]
gcode:
    {% if printer.extruder.temperature > printer["gcode_macro VAR_pfc"].min_temp_extruder %}
        SET_GCODE_VARIABLE MACRO=VAR_pfc VARIABLE=status VALUE='"Loading filament in extruder"'
        #M118 Loading Filament...
        G91      
        M83
        M400
        SET_CURRENT_HIGH
        G1 E75 F800
        G92 E0
        G90
        SET_CURRENT_MEDIUM
        #TODO Check filament sensor!!!
        #M118 Load Complete
    {% endif %}
  
