[include pfc_tool_0.cfg]
[include pfc_tool_1.cfg]
[include pfc_tool_2.cfg]
[include pfc_tool_3.cfg]

#[filament_motion_sensor filament_motion_sensor]
#detection_length: 15.0
#extruder: extruder
#switch_pin: pfc_board:PB15
#pause_on_runout: True
#runout_gcode:
    #M118 Filament runout
    #SET_GCODE_VARIABLE MACRO=VAR_PCF VARIABLE=extruder_temp VALUE={printer.extruder.temperature}
    #SET_IDLE_TIMEOUT TIMEOUT={printer["gcode_macro VAR_PCF"].timeout_pause}
    #PAUSE
    #M109 S{printer["gcode_macro VAR_PCF"].extruder_temp}
    #PAUSE_PCF
#insert_gcode:
    #SET_IDLE_TIMEOUT TIMEOUT=600

#[delayed_gcode ENABLE_FILAMENT_MOTION_SENSOR]
[gcode_macro ENABLE_FILAMENT_MOTION_SENSOR]
gcode:
  {% if printer["gcode_macro SELECT_TOOL"].tool_selected|int != -1 %}
    {% if printer["gcode_macro VAR_pfc"].filament_sensor_enabled|int == 1%}
      SET_FILAMENT_SENSOR SENSOR=filament_motion_sensor_t{printer["gcode_macro SELECT_TOOL"].tool_selected|int} ENABLE=1
    {% endif %}
  {% endif %}
  
[gcode_macro SELECT_TOOL]
variable_tool_selected: 0
gcode:
    M400
    #{action_respond_info(printer["gcode_button T%i_button" % params.VALUE|int].state)}
    {% if printer["gcode_button T%i_button" % params.VALUE|int].state == "PRESSED" %}
      {action_respond_info("Changing to Tool %i" % (params.VALUE|int))}
      SET_GCODE_VARIABLE MACRO=SELECT_TOOL VARIABLE=tool_selected VALUE={params.VALUE}
      SAVE_VARIABLE VARIABLE=pfc_selected_tool VALUE={params.VALUE|int}
      {% for i in range(printer["gcode_macro VAR_pfc"].tools) %}
          {% if i == params.VALUE|int %}
              FILAMENT_MOTION_SENSOR_DELAY SENSOR=filament_motion_sensor_t{i} DELAY=1             
              SYNC_EXTRUDER_MOTION Extruder=filament{i}_e Motion_queue=extruder
              SET_TMC_FIELD STEPPER=filament{i}_e FIELD=TOFF VALUE=1
              FILAMENT_MOTION_SENSOR_RESET SENSOR=filament_motion_sensor_t{i}
              #ENABLE_FILAMENT_MOTION_SENSOR
              #SET_FILAMENT_SENSOR SENSOR=filament{i}_motion_sensor ENABLE=1
              #UPDATE_DELAYED_GCODE ID=ENABLE_FILAMENT_MOTION_SENSOR DURATION=5.0
              #FILAMENT_MOTION_SENSOR_RESET SENSOR=filament_motion_sensor_t{i}
              #SET_FILAMENT_SENSOR SENSOR=filament_motion_sensor_t{i} ENABLE=1            
          {% else %}
              SYNC_EXTRUDER_MOTION Extruder=filament{i}_e Motion_queue=
              SET_TMC_FIELD STEPPER=filament{i}_e FIELD=TOFF VALUE=0
              #SET_FILAMENT_SENSOR SENSOR=filament_motion_sensor_t{i} ENABLE=0
          {% endif %}
      {% endfor %}
      RESTORE_PRESSURE_ADVANCE
    {% else %}
      {action_respond_info("Tool %i unavailable" % (params.VALUE|int))}
    {% endif %}
    
[gcode_macro TOOL_SELECTED]
gcode:
    {action_respond_info("Selected tool is = %i \n" % (printer["gcode_macro SELECT_TOOL"].tool_selected|int))}

[gcode_macro T-1]
variable_pa:0.04
gcode:    

[gcode_button T-1_button]
pin: ^pfc_board:PA13
press_gcode:

[gcode_macro TR]
gcode:
    M83
	M400
    {% if printer["gcode_macro SELECT_TOOL"].tool_selected|int != -1 %}
    	{% if printer["gcode_macro SELECT_TOOL"].tool_selected|int != params.VALUE|int %}
            {% if printer.toolhead.homed_axes != "xyz" %}
              G28
              G91
              G1 Z{printer["gcode_macro VAR_pfc"].z_up_home} F500
              G90
              G1 X{printer["gcode_macro VAR_pfc"].x_home} Y{printer["gcode_macro VAR_pfc"].y_home} F5000
            {% endif %}
            
            #M109 S{params.TEMP|int}
            #{% if printer.extruder.target < printer["gcode_macro VAR_pfc"].min_temp_extruder %}
            {% if 'TEMP' in params %}
                M109 S{params.TEMP|int}
            {% else %}
                M109 S{printer["gcode_macro VAR_pfc"].extruder_eject_temp}
            {% endif %}
            #{% endif %}
            UT
            LT VALUE={params.VALUE|int}
            G1 X{printer["gcode_macro VAR_pfc"].x_home} Y{printer["gcode_macro VAR_pfc"].y_home} Z1.5 F5000
            G1 X{printer["gcode_macro VAR_pfc"].x_home-200} Y{printer["gcode_macro VAR_pfc"].y_home} Z1.5 E200 F250
            #G1 E50 F250
            M400
        {% else %}
            {action_respond_info("Tool already selected selected")}
    	{% endif %}
    {% else %}
        {action_respond_info("No tool selected")}
  	{% endif %}

[gcode_macro SHOW_PRESSURE_ADVANCE]
gcode:
    {% for i in range(printer["gcode_macro VAR_pfc"].tools) %}
        {action_respond_info("Pressure advance T%i = %f \n" % (i, printer["gcode_macro T%i" % i].pa))}
    {% endfor %}

[gcode_macro RESTORE_PRESSURE_ADVANCE]
gcode: 
    {% set temp = "gcode_macro T%i" % printer['gcode_macro SELECT_TOOL'].tool_selected|int %}
    SET_PRESSURE_ADVANCE ADVANCE={printer[temp].pa}


[gcode_macro HEAT_EXTRUDER_BEFORE_EXTRUDE]
gcode:
    {% if printer.extruder.temperature < printer["gcode_macro VAR_pfc"].min_temp_extruder %}
      SET_GCODE_VARIABLE MACRO=VAR_pfc VARIABLE=status VALUE='"Heating before extrude"'
      M109 S{printer["gcode_macro VAR_pfc"].extruder_eject_temp}
    {% endif %}


[gcode_macro CHECK_FILAMENT_PATENCY]
gcode:
    {% set last_tool = printer["gcode_macro SELECT_TOOL"].tool_selected %}
    {% for i in range(printer["gcode_macro VAR_pfc"].tools) %}
        SELECT_TOOL VALUE={i}
        LOAD_FILAMENT_TO_EXTRUDER
        UNLOAD_FILAMENT_FROM_EXTRUDER
    {% endfor %}
    SELECT_TOOL VALUE={last_tool}

[gcode_macro SAVE_CURRENT_PA]
gcode:
    SET_GCODE_VARIABLE MACRO=T{printer["gcode_macro SELECT_TOOL"].tool_selected} VARIABLE=pa VALUE={printer.extruder.pressure_advance}
    SAVE_VARIABLE VARIABLE=pa_t{printer["gcode_macro SELECT_TOOL"].tool_selected} VALUE={printer.extruder.pressure_advance}